.parent{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}
.Card{
    margin: 0.5rem;
   
    width: 23%;

}
.Card> img{
    width: 100%;
}
.Card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}